<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi! <%= @user %></h1>
    <p>
    This is just a friendly reminder that <%= @child %> has a birthday coming up! If you would like to get schedule a photoshoot, please contact us!
    <br><br>
    <br><br>
     If you have any problems, please contact me asap! 
    </p>
    <p>Thank you!
    <br>
    TerriG
    </p>
  </body>
</html>
