<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi! <%= @user %></h1>
    <p>
    This is just a friendly reminder that you have a scheduled photo-shoot on:
    <br><br>
    <b><%= "#{@user.next_booking.start_date} at #{@user.next_booking.start_time_string}"  %></b>
    <br><br>
     If you have any issues with this booking, please contact me asap! 
    </p>
    <p>Thank you!
    <br>
    TerriG
    </p>
  </body>
</html>
