<link href="assets/dashboard/sb-admin-2.css" rel="stylesheet">
<link href="assets/dashboard/metisMenu.min.css" rel="stylesheet">
<script src="assets/dashboard/metisMenu.min.js"></script>
<script src="assets/dashboard/sb-admin-2.js"></script>


  <div class="form-row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div style="margin-top: 3em" class="form-group row">
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary">
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <i class="far fa-money-bill-alt fa-5x"></i>
            </div>
            <div class="col text-right">
              <div class="huge">$<%= Booking.where('end_date between ? and ?', DateTime.now.beginning_of_month, DateTime.now.beginning_of_day).sum(&:total) %></div>
              <div>Revenue since beginning of the month</div>
            </div>
          </div>
        </div>
        <a href="<%= reports_bookings_path %>">
          <div class="card-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary">
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <i style="color: #3B5998" class="fab fa-facebook-square fa-5x"></i>
            </div>
            <div class="col text-right">
              <div class="huge"><%= Customer.where.not(facebook_handle: [nil, ""]).count %></div>
              <div>Customer(s) using Facebook</div>
            </div>
          </div>
        </div>
        <a href="<%= customers_path %>">
          <div class="card-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary">
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <i style="color: #1dcaff" class="fab fa-twitter-square fa-5x"></i>
            </div>
            <div class="col text-right">
              <div class="huge"><%= Customer.where.not(twitter_handle: [nil, ""]).count %></div>
              <div>Customer(s) using Twitter</div>
            </div>
          </div>
        </div>
        <a href="<%= customers_path %>">
          <div class="card-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card border-primary">
        <div class="card-body">
          <div class="form-row">
            <div class="col">
              <i style="color: #fb3958" class="fab fa-instagram fa-5x"></i>
            </div>
            <div class="col text-right">
              <div class="huge"><%= Customer.where.not(instagram_handle: [nil, ""]).count %></div>
              <div>Customer(s) using Instagram</div>
            </div>
          </div>
        </div>
        <a href="<%= customers_path %>">
          <div class="card-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-8">
      <div class="card card-primary">
        <div class="card-header">
          <i class="fas fa-chart-line"></i> Bookings per service by weeks
          <div class="float-right dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More reports ...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to('Customer Reports', reports_customer_path, method: :get, class: "dropdown-item") %>
              <%= link_to('Month Birthdays', reports_month_birthdays_path, method: :get, class: "dropdown-item") %>
              <%= link_to('Popular Services', reports_popular_services_path, method: :get, class: "dropdown-item") %>
              <%= link_to('Bookings', reports_bookings_path, method: :get, class: "dropdown-item") %>
              <%= link_to('Revenue', reports_revenue_by_service_path, method: :get, class: "dropdown-item") %>
              <%= link_to('Discounts', discount_types_path, class: "dropdown-item") %>
            </div>
          </div>
        </div>

        <!-- /.card-header -->
        <div class="card-body">
          <%= line_chart ServiceFee.all.map { |service|
            {name: service.service_desc.to_s, data: service.bookings.group_by_week(:start_date).count}
          }, suffix: " bookings",xtitle: "Time", ytitle: "Number of bookings", label: "Number of bookings", id: 'chart', colors: ["#b00", "#666", "#CA6240", "#A57261", "#5FB04B", "#A4D897", "#4EBB81", "#45E1B9", "#3DB4D6", "#3D7CD6", "#543DD6", "#793DD6", "#AA3DD6", "#D63DD4", "#E772E6", "#E772B7" ]  %>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card .card-primary -->
    </div>
      <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <div class="card card-default">
        <div class="card-header">
          <i class="fa fa-bell fa-fw"></i> Notifications card
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="list-group">
            <a href="<%= customers_path %>" class="list-group-item">
              <i class="fas fa-plus-circle fa-fw"></i> Newest Customer
              <span class="pull-right text-muted small"><em><%= Customer.last.cf_name + Customer.last.cl_name %><%= Customer.last.created_at.strftime(" on %m/%d/%Y at %I:%M%p") %></em>
                                    </span>
            </a>
            <a href="<%= root_path %>" class="list-group-item">
              <i class="far fa-bookmark fa-fw"></i> Newest Booking
              <span class="pull-right text-muted small"><em><%= Booking.last.bookingdetails%><%= Customer.last.created_at.strftime(" on %m/%d/%Y at %I:%M%p") %></em>
                                    </span>
            </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-envelope fa-fw"></i> Last birthday reminder email sent today
              <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
            </a>
            <a href="#" class="list-group-item">
              <i class="fa fa-envelope fa-fw"></i> Last booking reservation reminder email sent today
              <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
            </a>
            <a class="list-group-item">
              <i class="fas fa-sign-in-alt fa-fw"></i> Last login at
              <span class="pull-right text-muted small"><em><%= current_user.last_sign_in_at.in_time_zone("Central Time (US & Canada)").strftime(" on %m/%d/%Y at %I:%M%p")%></em>
                                    </span>
            </a>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card .card-default-->
    </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
