<div class="list-group">
  <a href="" id="general-link" class="list-group-item list-group-item-action">General</a>
  <a href="" id="services-fees-link" class="list-group-item list-group-item-action">Services & Fees</a>
</div>
