<div style="padding: 2em" class="card">
<%= form_with(model: employee, local: true) do |form| %>
    <% if employee.errors.any? %>
      <div class="row">
        <div class="col-md-4">
          <div id="error_explanation">
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</strong>
            </div>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"><% employee.errors.full_messages.each do |message| %></li>
                  <li><%= message %></li>
                <% end %>
                </ul>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  <div style="margin:1em 0em 1em 0em" class="form-row">
    <div class="col-sm-2">
      <%= form.submit class: 'btn btn-success' %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Back', employees_path,method: :get, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
        <%= form.label "Employee type" %>
        <%= form.collection_select :employee_type_id, EmployeeType.all, :id, :employee_type, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <%= form.label "First name" %>
      <%= form.text_field :ef_name, id: :employee_ef_name, class: 'form-control' %>
    </div>
    <div class="col-sm-3">
      <%= form.label "Last name" %>
      <%= form.text_field :el_name, id: :employee_el_name, class: 'form-control' %>
    </div>
  </div>
<% end %>
</div>