<h1>Employees</h1>
<%= link_to 'New Employee', new_employee_path, {class: 'btn btn-success', style: 'margin-bottom: 30px'} %>

<table width="100%" class="display" id="employee" cellspacing="0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Employee type</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>ID</th>
    <th>Employee type</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Action</th>
  </tr>
  </tfoot>
</table>

<br>


