<div class="card" style="width: 50%; padding: 1em; margin: 1em">
  <div class="card-body">
    <h5 class="card-title">Employee you just created!</h5>
    <p class="card-text">
      <strong>Employee type:</strong>
      <%= @employee.employee_type %>
    </p>
    <p class="card-text">
      <strong>First name:</strong>
      <%= @employee.ef_name %>
    </p>
    <p class="card-text">
      <strong>Last name:</strong>
      <%= @employee.el_name %>
    </p>
    <div class="form-row">
      <!--Passing employee values to new booking form. -->
      <div class="col-md-5">
        <!--<#= link_to 'Assign some work...', booking_employees_multiadd_path(@employee.id), {class: 'btn btn-primary'} %>-->
      </div>
      <div class="col-md-2">
        <%= link_to 'Back', employees_path, method: :get, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
