<div style="padding: 2em" class="card">

  <%= form_with(model: child, local: true) do |form| %>
    <% if child.errors.any? %>
      <div class="row">
        <div class="col-md-4">
          <div id="error_explanation">
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><%= pluralize(booking.errors.count, "error") %> prohibited this child from being saved:</strong>
            </div>
            <ul class="list-group">
            <% child.errors.full_messages.each do |message| %>
                <li class="list-group-item d-flex justify-content-between align-items-center"><%= message %></li>
            <% end %>
            </ul>
          </div>
      </div>
    </div>
    <br>
    <% end %>
    <div style="margin:1em 0em 1em 0em" class="form-row">
      <div class="col-md-3">
        <%= form.submit class: 'btn btn-success' %>
      </div>
    </div>
    <div class="form-row">
      <div style="width: 13em" class="form-group">
        <%= form.label "First name" %>
        <%= form.text_field :c_fNname, class:'form-control' %>
      </div>

      <div style="width: 13em" class="form-group">
        <%= form.label "Last name" %>
        <%= form.text_field :c_lName, class:'form-control' %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <%= form.label "Birthday" %>
        <%= form.date_field :c_birthday, class: 'form-control' %>
      </div>
    </div>
    <% end %>
  <div class="form-row">
    <div class="col-md-2">
      <%= link_to 'Back', root_path, method: :get, class: 'btn btn-success' %>
    </div>
  </div>
  </div>
</div>