<div style="float: left; margin-right: 2em;" class="container-fluid">
  <h2>Children</h2>
  <%= link_to 'New Child', new_child_path, {class: 'btn btn-success', style: 'margin-bottom: 30px'} %>
  <%= content_tag :table, id: "child", style: 'width: 100%', class: 'table table-striped table-bordered', role: :datatable, data: { url: children_path(format: :json)} do %>
  <thead>
    <tr id="header">
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Birthday</th>
      <th>Deleted at</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <% end %>
  <span id="tableRowNumber"></span>
<br>
</div>
