<div class="card" style="width: 50%; padding: 1em; margin: 1em">
  <div class="card-body">
    <p class="card-text">
      <strong>First name:</strong>
      <%= @child.c_fName %>
    </p>
    <p class="card-text">
      <strong>Last name:</strong>
      <%= @child.c_lName %>
    </p>

    <p class="card-text">
      <strong>Birthday:</strong>
      <%= @child.c_birthday %>
    </p>
    <div class="form-row">
      <!--Passing customer values to new booking form. -->
      <div class="col-md-5">
        <%= link_to 'Edit', edit_child_path(@child), method: :get, class: 'btn btn-primary' %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Back', root_path, method: :get, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>