<style>
  /*flash*/
  .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
  }

  .alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
  }

  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
  }

  .alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
  }

  body
  {
    margin: 0;
    padding: 0;
    background: url('/assets/bg3.jpg');
    background-size: cover;
    font-family: sans-serif;
  }
  .loginBox
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 370px;
    min-height: 500px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.9);
    color: black;
  }
  .user
  {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
  }
  h3, h5
  {
    margin: 0;
    padding: 0 0 20px;
    color: black;
    text-align: left;
  }
  .loginBox p
  {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
  }
  .loginBox input
  {
    width: 100%;
    margin-bottom: 20px;
  }
  .loginBox input[type="text"],
  .loginBox input[type="password"]
  {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  ::placeholder
  {
    color: rgba(255,255,255,.5);
  }
  .loginBox input[type="submit"]
  {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
  }
  .loginBox input[type="submit"]:hover
  {
    background: #efed40;
    color: #262626;
  }
  .loginBox a
  {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
</style>
<div class="loginBox container">
  <img src="/assets/camera.jpg" class="user">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>

  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="form-group row align-items-end justify-content-center">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "align-bottom border border-dark form-control"%>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "border border-dark form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group row align-items-end justify-content-center">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" , class: "border border-dark form-control"%>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "border border-dark form-control" %>
          </div>
        </div>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>
