<%= form_with(model: child_parent, local: true) do |form| %>
  <% if child_parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(child_parent.errors.count, "error") %> prohibited this child_parent from being saved:</h2>

      <ul>
      <% child_parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :child_id %>
    <%= form.text_field :child_id, id: :child_parent_child_id %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :child_parent_customer_id %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.date_select :deleted_at, id: :child_parent_deleted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
