
<h1>Child Parents</h1>

<table>
  <thead>
    <tr>
      <th>Child</th>
      <th>Customer</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @child_parents.each do |child_parent| %>
      <tr>
        <td><%= child_parent.child %></td>
        <td><%= child_parent.customer %></td>
        <td><%= child_parent.deleted_at %></td>
        <td><%= link_to 'Show', child_parent %></td>
        <td><%= link_to 'Edit', edit_child_parent_path(child_parent) %></td>
        <td><%= link_to 'Destroy', child_parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Child Parent', new_child_parent_path %>
