<p id="notice"><%= notice %></p>

<p>
  <strong>Child:</strong>
  <%= @child_parent.child %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @child_parent.customer %>
</p>

<%= link_to 'Edit', edit_child_parent_path(@child_parent) %> |
<%= link_to 'Back', child_parents_path %>
