<a class="weatherwidget-io" href="https://forecast7.com/en/29d76n95d37/houston/?unit=us" data-label_1="HOUSTON" data-label_2="WEATHER" data-theme="weather_one" >HOUSTON WEATHER</a>
<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<input id="toggle-event" type="checkbox" checked data-toggle="toggle" data-on="Booking Calendar" data-off="Birthday Calendar" data-onstyle="success" data-offstyle="info"> </input>
<div id="bk">
  <div style="" class="row justify-content-center">
    <div class="col-sm-9 h-75">
      <div id="calendar">
      </div>
    </div>
  </div>
</div>
<div id="bd">
  <div class="row justify-content-center">
    <div class="col-sm-9 h-75">
      <div id="bd_calendar">

      </div>
    </div>
  </div>
</div>
