<div style="padding: 2em" class="card">

<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div class="row">
      <div class="col-md-4">
        <div id="error_explanation">
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</strong>
          </div>
          <ul class="list-group">
            <% booking.errors.full_messages.each do |message| %>
              <li class="list-group-item d-flex justify-content-between align-items-center"><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <br>
  <% end %>
    <h4 style="color: red"><i>*: input is required</i></h4>
  <div class="form-group">
    <div class="row datetimepickers">
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Start time<span style="color: red">*</span></span>
          </div>
          <%= form.date_field :start_date, id: 'start_date', style: "width: 20%", class: "form-control datepicker" %>
          <%= form.text_field :start_time_string, id: "starttime", style: "width: 15%", class: "form-control timepicker", required: true %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">End time<span style="color: red">*</span></span>
          </div>
          <%= form.date_field :end_date, id: 'start_date', style: "width: 20%", class: "form-control datepicker" %>
          <%= form.text_field :end_time_string, id: "endtime", style: "width: 15%", class: "form-control timepicker", required: true %>
        </div>
      </div>
    </div>
  </div>

  <% booking.customers.each do |cust| %>
    <div class="row">
      <%= form.fields_for :customers, cust do |customer| %>
        <div class="col-md-6">
          <%= render 'customers/customer_fields', form: customer %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="modal" id="customerSelect">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Multiple customer found - Please select one</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Row</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Email</th>
                  <tr>
              </thead>
              <tbody id="customerSelectBody">
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-action="submit">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-md-left">
    <div class="col-md-8">
      <%= link_to_add_association "Add service", form, :booking_service_lines,
        partial: "service_fees/service_fee_fields",
        "data-association-insertion-node": "#service_fees",
        "data-association-insertion-method": "append",
        class: "btn btn-primary mb-2"%>
      <table class="table">
        <thead>
          <tr>
            <th>Selected services<span style="color: red">*</span></th>
            <th>Cost: $</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="service_fees">
          <%= form.fields_for :booking_service_lines do |builder| %>
              <%= render "service_fees/service_fee_fields", f: builder %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <%= form.label :bookingdetails, value: "Additional Details" %>
      <%= form.text_area :bookingdetails, id: :booking_bookingdetails, class: "form-control" %>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :discountamount, value: "Discount" %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= form.text_field :discountamount, id: :booking_discountamount, class: "form-control", value: number_with_precision(booking.discountamount, precision: 2)  %>
      </div>
    </div>
    <div class="col-md-2">
      <%= form.label :discount_type %>
      <%= form.collection_select :discount_type, DiscountType.all, :id, :discount_type, {selected: "None"} %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :bookingtotal, value: "Sub-total: " %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= form.text_field :bookingtotal, id: :booking_bookingtotal,  class: "form-control", value: number_with_precision(booking.bookingtotal, precision: 2) %>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :total, value: "Total: " %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= form.text_field :total, id: :booking_total, disabled: true,  class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div style="margin-right: 2em" class="actions">
      <%= form.submit class: 'btn btn-success' %>
    </div>
    <div class="actions">
      <%= link_to 'Back', root_path, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
</div>
