<div class="grid-layout-header">
  <h1 class="grid-header-title">Editing Booking</h1>
  <div class="grid-header-controls">
    <%= link_to 'Assign Employees', booking_employees_multiadd_path(@booking.id), class: 'btn btn-info' %>
    <%= link_to 'Send reminder', '', data: { function: "reminder" }, class: "btn btn-info" %>
    <%= link_to 'Delete', @booking, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %>
  </div>
</div>

<%= render 'form', booking: @booking, customer: @booking.customers  %>
