<div class="container-fluid">
    <h2>Bookings</h2>
      <%= link_to 'New Booking', new_booking_path, class: 'btn btn-success', style: 'margin: 0 10px 30px 0' %>
    <%= content_tag :table, id: "booking", class: 'table table-striped table-bordered', role: :datatable, data: { url: bookings_path(format: :json)} do %>
        <thead>
          <tr id="header">
            <th>Booking Details</th>
            <th>Discount description</th>
            <th>Discount amount</th>
            <th>Booking total</th>
            <th>Start date</th>
            <th>Start time</th>
            <th>End date</th>
            <th>End time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <% end %><span id="tableRowNumber"></span>
</div>