<p id="notice"><%= notice %></p>

<p>
  <strong>Discount type:</strong>
  <%= @booking.discount_type %>
</p>

<p>
  <strong>Start:</strong>
  <%= @booking.start_date %>
</p>

<p>
  <strong>End:</strong>
  <%= @booking.end_date %>
</p>

<p>
  <strong>Bookingdetails:</strong>
  <%= @booking.bookingdetails %>
</p>

<p>
  <strong>Discountamount:</strong>
  <%= @booking.discountamount %>
</p>

<p>
  <strong>Bookingtotal:</strong>
  <%= @booking.bookingtotal %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
