<style>
  /*flash*/
  .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
  }

  .alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
  }

  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
  }

  .alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
  }

  body
  {
    margin: 0;
    padding: 0;
    background: url('/assets/bg3.jpg');
    background-size: cover;
    font-family: sans-serif;
  }
  .loginBox
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 370px;
    height: 500px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.5);
    color: black;
  }
  .user
  {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
  }
  h4
  {
    margin: 0;
    padding: 0 0 20px;
    color: black;
    text-align: left;
  }
  .loginBox p
  {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
  }
  .loginBox input
  {
    width: 100%;
    margin-bottom: 20px;
  }
  .loginBox input[type="text"],
  .loginBox input[type="password"]
  {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  ::placeholder
  {
    color: rgba(255,255,255,.5);
  }
  .loginBox input[type="submit"]
  {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
  }
  .loginBox input[type="submit"]:hover
  {
    background: #efed40;
    color: #262626;
  }
  .loginBox a
  {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
</style>
<div class="loginBox">
  <img src="/assets/camera.jpg" class="user">
  <h4>Forgot your password?</h4>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "btn btn-outline-success btn-block" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
</div>