<div style="padding: 2em" class="card">
  <%= form_with(model: service_fee, local: true) do |form| %>
    <% if service_fee.errors.any? %>
      <div class="row">
        <div class="col-md-4">
          <div id="error_explanation">
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><%= pluralize(service_fee.errors.count, "error") %> prohibited this type of service from being saved:</strong>
            </div>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"><% service_fee.errors.full_messages.each do |message| %></li>
                  <li><%= message %></li>
                <% end %>
                </ul>
          </div>
        </div>
      </div>
      <br>
    <% end %>
    <div style="margin:1em 0em 1em 0em" class="form-row">
      <div class="col-sm-2">
        <%= form.submit class: 'btn btn-success' %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Back', service_fees_path, class: 'btn btn-success' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
        <%= form.label :std_price, value: "Price" %>
        <%= form.text_field :std_price, id: :service_fee_std_price, class: "form-control", onkeypress: "return validateFloatKeyPress(this,event);" %>
      </div>
      <div class="col-md-4">
          <%= form.label :service_desc, value: "Description" %>
          <%= form.text_area :service_desc, id: :service_fee_service_desc, class: "form-control" %>
      </div>
    </div>
<% end %>
</div>
