<tr class="nested-fields">
  <td style="width: 0">
    <%= f.hidden_field :id %>
    <% service_fees = ServiceFee.all.map { |x| [x.service_desc, x.id, { data: { cost: x.std_price}}] } %>
    <% selected = 1 %>
    <% unless f.object.service_fee.nil? %>
      <% service_select = service_fees.select { |s| s[0] == f.object.service_fee&.service_desc } %>
      <% selected = service_select[0][1] %>
    <% end %>
    <%= f.select(:service_fee_id, options_for_select(service_fees,selected ), {}, data: { toggle: "service-selection" }) %>
  </td>
  <td>
    <%= f.label :service_fee_price, name: "service_price", value: "N/a"  %>
  </td>
  <td>
    <%=  link_to_remove_association 'Remove', f, class: 'btn btn-danger' %>
  </td>
</tr>
