
<h2>Service Fees</h2>
<%= link_to 'New Service Fee', new_service_fee_path, {class: 'btn btn-success', style: 'margin-bottom: 30px'} %>
<div class="container">
  <%= content_tag :table, id: "service_fee", style: 'width: 100%', class: 'table table-striped table-bordered', role: :datatable, data: { url: service_fees_path(format: :json)} do %>
<thead>
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  </thead>
<% end %>

<br>


</div>
