<div class="card" style="width: 50%; padding: 1em; margin: 1em">
  <div class="card-body">
    <h5 class="card-title">Service you just created!</h5>
    <p class="card-text">
      <strong>Price:</strong>
      <%= '%.2f' % @service_fee.std_price %>
    </p>
    <p class="card-text">
      <strong>Description:</strong>
      <%= @service_fee.service_desc %>
    </p>
    <div class="form-row">
      <!--Passing customer values to new booking form. -->
      <div class="col-md-5">
        <%= link_to 'Edit', edit_service_fee_path(@service_fee), class: 'btn btn-success' %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Back', service_fees_path, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>

