<div class="nested-fields form-inline">
  <%= f.fields_for :child do |child_parent| %>
      <div class="col-auto">
        <%= f.label 'Child first name:'%>
        <%= child_parent.text_field :c_fName, class:'form-control mb-2 mr-sm-2' %>
      </div>
      <div class="col-auto">
        <%= f.label 'Child last name:'%>
        <%= child_parent.text_field :c_lName, class:'form-control mb-2 mr-sm-2' %>
      </div>
      <div class="col-auto">
        <%= f.label 'Child birthday:'%>
        <%= child_parent.date_field :c_birthday, class:'form-control mb-2 mr-sm-2' %>
      </div>
      <div class="col-auto">
        <%= link_to_remove_association 'Remove', f, class: 'btn btn-danger mb-2' %>
      </div>
  <% end %>
</div>



