<div class="form-group">
  <h3>Customer Information<span style="color: red">*</span></h3>
  <%= csrf_meta_tag %>
  <%= form.hidden_field :id %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :cf_name,  "First name" %>
        <%= form.text_field :cf_name, class: "textOnly form-control",  data: { for: "firstname" }, required: true%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :cl_name, "Last name" %>
        <%= form.text_field :cl_name, class: "form-control", data: { for: "lastname" }, required: true  %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :phone1, "Phone" %>
        <div class="input-group">
          <%= form.phone_field :phone1, class: "form-control", data: { for: "phone", type: "phone" }, required: true%>
          <div class="input-group-append">
            <button class="btn btn-secondary" id="lookupCustomer" data-remote="true" type="button">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :email, "Email" %>
        <%= form.email_field :email, class: "form-control", data: {for: "email" }, required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">

      </div>
    </div>
  </div>
</div>
