<%= form_with(model: customer, local: true, html: {id: 'form'}) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2 class="h2"><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div style="margin:1em 0em 1em 0em" class="form-row">
    <div class="col-md-3">
      <%= form.submit  id: 'sbtbtn', name: 'customer_create', class: 'btn btn-success' %>
    </div>
  </div>
  <h4 style="color: red"><i>*: input is required</i></h4>
  <ul  class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a style="color: black" class="nav-link active" id="pi-tab" data-toggle="tab" href="#pi" role="tab" aria-controls="home" aria-selected="true">Personal information</a>
    </li>
    <li class="nav-item">
      <a style="color: black" class="nav-link" id="children-tab" data-toggle="tab" href="#children" role="tab" aria-controls="profile" aria-selected="false">Children</a>
    </li>
    <li class="nav-item">
      <a style="color: black" class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
    <li class="nav-item">
      <a style="color: black" class="nav-link" id="media-tab" data-toggle="tab" href="#media" role="tab" aria-controls="contact" aria-selected="false">Social media marketing</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pi" role="tabpanel" aria-labelledby="pi-tab">
      <div style="margin: 1em" class="form-row">
        <div class="col-md-3">
          <%= form.label :cf_name, "First name" %><span style="color: red">*</span>
          <%= form.text_field :cf_name, id: :customer_cf_name, class: 'textOnly form-control', required: true %>
        </div>
        <div class="col-md-3">
          <%= form.label :cl_name, "Last name" %><span style="color: red">*</span>
          <%= form.text_field :cl_name, id: :customer_cl_name, class: 'textOnly form-control', required: true %>
        </div>
      </div>
      <br/>
      <div style="margin: 1em" class="form-row">
        <div class="form-group col-md-3" data-toggle="tooltip" data-placement="bottom" title="abc@abc.abc">
          <%= form.label :email, "Email" %><span style="color: red">*</span>
          <%= form.text_field :email, id: :customer_email, class: 'form-control', required: true %>
        </div>
        <div style="width: 13em" class="form-group">
          <%= form.label :birthday %>
          <%= form.date_field :birthday, id: :customer_birthday, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="children" role="tabpanel" aria-labelledby="children-tab">
      <div style="margin: 1em" id="children">
        <%= form.fields_for :child_parents do |child_parent| %>
          <%= render 'child_parent_fields', f: child_parent %>
        <% end %>
        <%= link_to_add_association 'Add children', form, :child_parents, 'data-association-insertion-node': '#children',
                                    'data-association-insertion-method': "append", class: 'btn btn-info',
                                    :wrap_object => Proc.new {|child_parent| child_parent.build_child; child_parent } %>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div style="margin-top: 2em" id="locationField">
        <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" class="form-control ds-input"></input>
      </div>
      <input type="hidden" class="field" id="street_number" disabled="true"></input>
      <input type="hidden" class="field" id="route" disabled="true"></input>
      <input type="hidden" class="field" id="country" disabled="true"></input>
      <input type="hidden" class="field" id="administrative_area_level_1" disabled="true" class="field form-control"></input>
      <%= form.text_field :address2, id: :customer_address2, class: 'form-control', type: "hidden" %>

      <table id="address" class="table">
        <tr style="text-align: right;">
          <td class="label"><%= form.label :address1, "Address 1" %></td>
          <td class="wideField" colspan="2"><%= form.text_field :address1, id: :customer_address1, class: 'field form-control'%></td>
        </tr>
        <tr style="text-align: right;">
          <td class="label"><%= form.label "City" %></td>
          <td class="wideField" colspan="3"><%= form.text_field :city, id: :locality, class: 'field form-control' %></td>
        </tr>
        <tr style="text-align: right;">
          <td class="label"><%= form.label "State" %></td>
          <td style="width: 20%" class="wideField">
            <%= form.collection_select(:state_id, State.all, :id, :state_abbvr, {}, {id: :col_sel, class: "form-control" })%>
          </td>
          <td  class="label">Zip code</td>
          <td style="width: 20%" class="wideField"><%= form.text_field :zipcode, id: :postal_code, class: 'field form-control' %></td>
        </tr>
      </table>
      <br/>
      <div style="margin: 1em" class="form-row">
        <div class="col-md-2">
          <%= form.label :phone1, "Phone 1" %><span style="color: red">*</span>
          <%= form.phone_field :phone1, id: :p_numb1, class: "form-control",data: { for: "phone", type: "phone" }, required: true%>
        </div>
        <div class="col-md-2">
          <%= form.label :phone2, "Phone 2" %>
          <%= form.phone_field :phone2, id: :p_numb2, class: "form-control",data: { for: "phone", type: "phone" }%>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
      <div style="margin: 1em" class="form-row">
        <div class="col-md-2">
          <%= form.label :facebook_handle, "Facebook ID:" %>
          <%= form.text_field :facebook_handle, id: :customer_facebook_handle, class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= form.label :instagram_handle, "Instagram ID:" %>
          <%= form.text_field :instagram_handle, id: :customer_instagram_handle, class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= form.label :twitter_handle, "Twitter ID:" %>
          <%= form.text_field :twitter_handle, id: :customer_twitter_handle, class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= form.label :customer_type, "Commercial customer ?" %>
          <%= form.check_box :customer_type, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC3uYGaqwlyKd9XOPWVx6HOUxO9JcT9j8&libraries=places&callback=initAutocomplete"
        async defer></script>