
<div style="padding: 1em; margin: 1em" class="container-fluid">
    <h2>Customers</h2>
    <%= link_to 'New Customer', new_customer_path, {class: 'btn btn-success', style: 'margin-bottom: 30px'} %>
    <%= form_tag import_customers_path, multipart: true, class: 'form-inline', style:'margin-bottom: 30px' do %>
      <div class="form-group">
        <%= file_field_tag :file, class: '' %>
      </div>
      <div class="form-group">
        <%= submit_tag "Import CSV", class: 'btn btn-info' %>
      </div>
    <% end %>
    <%= content_tag :table, id: "customer", style: 'width: 100%', class: 'table table-striped table-bordered', role: :datatable, data: { url: customers_path(format: :json)} do %>
      <thead>
      <tr>
        <th>ID</th>
        <th>Customer name</th>
        <th>Address 1</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Birthday</th>
        <th>Phone1</th>
        <th>Email</th>
        <th>Facebook</th>
        <th>Twitter</th>
        <th>Instagram</th>
        <th>Commercial?</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody>
      </tbody>

    <% end %>
    <span id="tableRowNumber"></span>
  </div>
<div style="padding: 1em; margin: 1em" class="card">
  <h3>Bookings</h3>
    <table id="customer_booking" class="table table-striped table-bordered" cellspacing="0" width="20%">
    <thead>
    <tr>
      <th>ID</th>
      <th>Discount details</th>
      <th>Booking Details</th>
      <th>Discount amount</th>
      <th>Booking total</th>
      <th>Start date</th>
      <th>Start time</th>
      <th>End date</th>
      <th>End time</th>
    </tr>
    </thead>
      <tbody>
      </tbody>
    </table>
  <span id="tableRowNumber"></span>
</div>
