<div class="card" style="width: 50%; padding: 1em; margin: 1em">
  <div class="card-body">
    <h5 class="card-title">Customer you just created!</h5>
    <p class="card-text">
      <strong>Customer name:</strong>
      <%= @customer.cf_name + ' ' + @customer.cl_name%>
    </p>

    <p class="card-text">
      <strong>Street:</strong>
      <%= @customer.address1%>
    </p>

    <p class="card-text">
      <strong>City:</strong>
      <%= @customer.city %>
    </p>

    <p class="card-text">
      <strong>State:</strong>
      <%= @customer&.state&.state_name%>
    </p>

    <p class="card-text">
      <strong>Zipcode:</strong>
      <%= @customer.zipcode %>
    </p>

    <p class="card-text">
      <strong>Birthday:</strong>
      <%= @customer.birthday %>
    </p>

    <p class="card-text">
      <strong>Phone1:</strong>
      <%= @customer.phone1 %>
    </p>

    <p class="card-text" >
      <strong>Phone2:</strong>
      <%= @customer.phone2 %>
    </p>

    <p class="card-text">
      <strong>Email:</strong>
      <%= @customer.email %>
    </p>

    <div class="form-row">
      <!--Passing customer values to new booking form. -->
      <div class="col-md-5">
        <%= link_to 'New Booking as well...', new_booking_path(customer_id: @customer.id), {class: 'btn btn-primary'} %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Back', customers_path , {class: 'btn btn-success'} %>
      </div>
    </div>
  </div>
</div>

