<%= form_with(model: booking_service_line, local: true) do |form| %>
  <% if booking_service_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking_service_line.errors.count, "error") %> prohibited this booking_service_line from being saved:</h2>

      <ul>
      <% booking_service_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :booking_id %>
    <%= form.text_field :booking_id, id: :booking_service_line_booking_id %>
  </div>

  <div class="field">
    <%= form.label :service_fee_id %>
    <%= form.text_field :service_fee_id, id: :booking_service_line_service_fee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
