<h1>Editing Booking Service Line</h1>

<%= render 'form', booking_service_line: @booking_service_line %>

<%= link_to 'Show', @booking_service_line %> |
<%= link_to 'Back', booking_service_lines_path %>
