
<h1>Booking Service Lines</h1>

<table>
  <thead>
    <tr>
      <th>Booking</th>
      <th>Service fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booking_service_lines.each do |booking_service_line| %>
      <tr>
        <td><%= booking_service_line.booking.bookingdetails %></td>
        <td><%= booking_service_line.service_fee.service_desc %></td>
        <td><%= link_to 'Show', booking_service_line %></td>
        <td><%= link_to 'Edit', edit_booking_service_line_path(booking_service_line) %></td>
        <td><%= link_to 'Destroy', booking_service_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking Service Line', new_booking_service_line_path %>
