<p id="notice"><%= notice %></p>

<p>
  <strong>Booking:</strong>
  <%= @booking_service_line.booking %>
</p>

<p>
  <strong>Discount type:</strong>
  <%= @booking_service_line.discount_type %>
</p>

<p>
  <strong>Service fee:</strong>
  <%= @booking_service_line.service_fee %>
</p>

<p>
  <strong>Bsl cost:</strong>
  <%= @booking_service_line.bsl_cost %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @booking_service_line.quantity %>
</p>

<p>
  <strong>Discount amount:</strong>
  <%= @booking_service_line.discount_amount %>
</p>

<%= link_to 'Edit', edit_booking_service_line_path(@booking_service_line) %> |
<%= link_to 'Back', booking_service_lines_path %>
