<tr>
  <td name="id" class="hidden"><%= be.id %></td>
  <td name="employee_id" class="hidden"><%= be.employee.id %></td>
  <td name="firstname"><%= be.employee.ef_name %></td>
  <td name="lastname"><%= be.employee.el_name %></td>
  <td><%= text_field_tag :be_start, be&.be_start_time&.in_time_zone("Central Time (US & Canada)")&.strftime("%I%M%p"), data: { type: "timepicker"}  %></td>
  <td><%= text_field_tag :be_end, be&.be_end_time&.in_time_zone("Central Time (US & Canada)")&.strftime("%I%M%p"), data: { type: "timepicker" } %></td>
  <td><%= link_to 'Remove', be, method: :delete, remote: :true %></td>
</tr>
