<% if @booking.nil? %>
  <p>No booking is specified. This is probably due to navigating to this page directly. If this is correct, go back and select a booking then click Edit Employees.</p>
<% else %>
  <%= csrf_meta_tags %>
  <div>
    <span><%= link_to 'Save', '', data: { action: "save" }, class: "btn btn-success mb-md-2"%></span>
    <span><%= @booking.description.gsub('<br>', ' ') %></span>
  </div>
  <br>
  <table class="table" id="selectedEmployees" data-booking="<%= @booking.id %>">
    <thead>
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @booking.booking_employees.each do |be| %>
      <%= render partial: 'booking_employee_fields', locals: { be: be} %>
    <% end %>
    </tbody>
  </table>

  <table id="employeeSelection">
    <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
    </thead>
    <tbody>
    <% Employee.all.each do |employee| %>
      <tr data-action="add">
        <td data-type="id"><%= employee.id %></td>
        <td><%= employee.ef_name %></td>
        <td><%= employee.el_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
