<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @booking_employee.employee %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @booking_employee.booking %>
</p>

<p>
  <strong>Be start time:</strong>
  <%= @booking_employee.be_start_time %>
</p>

<p>
  <strong>Be end time:</strong>
  <%= @booking_employee.be_end_time %>
</p>

<%= link_to 'Edit', edit_booking_employee_path(@booking_employee) %> |
<%= link_to 'Back', booking_employees_path %>
