<div style="padding: 2em" class="card">
<%= form_with(model: discount_type, local: true) do |form| %>
  <% if discount_type.errors.any? %>
      <div class="row">
        <div class="col-md-4">
          <div id="error_explanation">
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><%= pluralize(discount_type.errors.count, "error") %> prohibited this discount_type from being saved:</strong>
            </div>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"><% discount_type.errors.full_messages.each do |message| %></li>
        <li><%= message %></li>
      <% end %>
        </ul>
        </div>
      </div>
    </div>
    <br>
  <% end %>
    <div class="form-group row">
      <div class="col-sm-3">
        <%= form.label :discount_type %>
        <%= form.text_field :discount_type, id: :discount_type_discount_type, class:'form-control' %>
      </div>
    </div>
      <div class="form-row">
        <%= form.submit class: 'btn btn-success' %>
      </div>
    <div style="margin-top: 2em" class="form-row"><%= link_to 'Back', discount_types_path,class: 'btn btn-success' %>
    </div>
<% end %>
</div>