<div class="container-fluid">

  <div class="card-title"><h3>Discount Types</h3></div>
<div class="card-body">
  <%= link_to 'New Discount Type', new_discount_type_path, {class: 'btn btn-success', style: 'margin-bottom: 30px'} %>
  <%= content_tag :table, id: "discount_type", class: 'table table-striped table-bordered', role: :datatable, data: { url: discount_types_path(format: :json)} do %>
  <thead>
  <tr id="header">
    <th>ID</th>
    <th>Discount_type</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  </tbody>

<% end %></div>

<br></div>
