<div class="card" style="width: 50%; padding: 1em; margin: 1em">
  <div class="card-body">
    <h5 class="card-title">Discount type you just created!</h5>
    <p class="card-text">
      <strong>Discount type:</strong>
      <%= @discount_type.discount_type %>
    </p>
    <div class="form-row">
      <!--Passing employee values to new booking form. -->
      <div class="col-md-5">
        <%= link_to 'Edit', edit_discount_type_path(@discount_type), {class: 'btn btn-primary'} %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Back', discount_types_path, method: :get, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
