<div style="padding: 2em" class="card">
  <%= form_with(model: employee_type, local: true) do |form| %>
    <% if employee_type.errors.any? %>
      <div class="row">
        <div class="col-md-4">
          <div id="error_explanation">
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><%= pluralize(employee_type.errors.count, "error") %> prohibited this type of employee from being saved:</strong>
            </div>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"><% employee_type.errors.full_messages.each do |message| %></li>
                  <li><%= message %></li>
                <% end %>
                </ul>
          </div>
        </div>
      </div>
      <br>
    <% end %>
    <div style="margin:1em 0em 1em 0em" class="form-row">
      <div class="col-sm-2">
        <%= form.submit class: 'btn btn-success' %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Back', employee_types_path, class: 'btn btn-success' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
        <%= form.label :employee_type %>
        <%= form.text_field :employee_type, id: :employee_type_employee_type, class: 'form-control' %>
      </div>
    </div>
<% end %>
</div>