
<h1>Employee Types</h1>
<%= link_to 'New Employee Type', new_employee_type_path, {class: 'btn btn-success', style: 'margin-bottom: 30px'} %>
<table id="employee_type">
  <thead>
    <tr>
      <th>Employee type</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employee_types.each do |employee_type| %>
      <tr>
        <td><%= employee_type.employee_type %></td>
        <td><%= link_to 'Edit', edit_employee_type_path(employee_type), class: 'btn btn-success' %> | <%= link_to 'Delete', employee_type, method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


