// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-layout-header{
  display: grid;
  grid-template-columns: .4fr .2fr; 
  grid-template-rows: .1fr;
}
.grid-header-title {
  grid-column: 1;
  grid-row: 1;
}

.grid-header-controls {
  grid-column: 3;
  grid-row: 1;
}

