// Place all the styles related to the booking_employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-layout-eb{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 2fr;
}
.grid-eb-selection {
  grid-column: 3/5;
  grid-row: 1;
}

.grid-eb-table{
  grid-column: 2/6;
  grid-row: 2;
}


