// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.details-control {
  text-align:center;
  color:forestgreen;
  cursor: pointer;
}
tr.shown td.details-control {
  text-align:center;
  color:red;
}