// Place all the styles related to the General_Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100vh; 
}
.sidebar-nav {
  grid-column: 1;
  border-right: 1px solid grey;
}

.main {
  grid-column:  2;
}

