// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-layout-reports {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
}
.grid-reports-selection {
  grid-column: 1;
  grid-row: 1;
}

.grid-reports-controls {
  grid-column: 2;
  grid-row: 1;
}

.grid-reports-chart {
  grid-column: 1/4;
  grid-row: 2;
}
