<%= form_with(model: customer_booking, local: true) do |form| %>
  <% if customer_booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_booking.errors.count, "error") %> prohibited this customer_booking from being saved:</h2>

      <ul>
      <% customer_booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :booking_id %>
    <%= form.text_field :booking_id, id: :customer_booking_booking_id %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :customer_booking_customer_id %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.date_select :deleted_at, id: :customer_booking_deleted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
