
<h1>Customer Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Booking</th>
      <th>Customer</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_bookings.each do |customer_booking| %>
      <tr>
        <td><%= customer_booking.booking.id %></td>
        <td><%= customer_booking.customer.to_s %></td>
        <td><%= customer_booking.deleted_at %></td>
        <td><%= link_to 'Show', customer_booking %></td>
        <td><%= link_to 'Edit', edit_customer_booking_path(customer_booking) %></td>
        <td><%= link_to 'Destroy', customer_booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Booking', new_customer_booking_path %>
