<p id="notice"><%= notice %></p>

<p>
  <strong>Booking:</strong>
  <%= @customer_booking.booking %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @customer_booking.customer %>
</p>


<%= link_to 'Edit', edit_customer_booking_path(@customer_booking) %> |
<%= link_to 'Back', customer_bookings_path %>
