<div>
  <%= form_tag(reports_booking_per_dt_path,method: 'get', :remote => "true", id: 'form') do %>
    <% available_years = BookingServiceLine.all.map { |x| [x.date_of_booking("%Y"), x.date_of_booking("%Y")] }.uniq { |x| x } %>
    <%= select_tag(:year, options_for_select(available_years, 2018  ),id: 'select_tag_year', prompt: 'Choose a Year...') %>
    <%= submit_tag "Load", id: 'loadBtn', class: 'btn btn-info' %>
  <% end %>
</div>
<div style="margin-top: 1em" class="card">
  <%= column_chart reports_booking_per_dt_url(year: Time.zone.now.year), label: 'Number of bookings',xtitle: "Discount type", ytitle: "Number of bookings", id:'booking_chart', download: true %>
</div>