<div class="grid-layout-reports">
  <div class="grid-reports-selection">
    <%= link_to "Overall", "", class: "btn btn-secondary active", data: { scope: "" }%>
    <%= link_to "Monthly", "", class: "btn btn-secondary", data: { scope: "monthly", controls: "yearly" } %>
    <%= link_to "Quarterly", "", class: "btn btn-secondary", data: { scope: "quarterly", controls: "yearly" } %>
    <%= link_to "Yearly", "", class: "btn btn-secondary", data: { scope: "yearly", controls: "yearly" } %>
  </div>
  <div class="grid-reports-controls">
    <% available_years = Booking.all.map { |x| [x.start_date.strftime("%Y"), x.start_date.strftime("%Y")] }.uniq { |x| x }  %>
    <%= select_tag(:year_select, options_for_select(available_years), class: "control hidden", name: "year", data: { scope: "yearly quarterly monthly" } ) %>
  </div>
  <div class="grid-reports-chart m-md-5">
    <%= column_chart reports_bookings_json_path, xtitle: "Date", ytitle: "Amount"  %>
  </div>
</div>

