<%= csrf_meta_tags %>
<div class="grid-layout-reports">
  <div class="grid-reports-selection">
    <%= link_to "Overall", reports_popular_services_path, class: "btn btn-secondary" %>
    <%= link_to "Monthly", reports_popular_services_path, class: "btn btn-secondary", data: { controls: "monthly" } %>
    <%= link_to "Quarterly", reports_popular_services_path, class: "btn btn-secondary", data: { controls: "quarterly"  } %>
    <%= link_to "Yearly", reports_popular_services_path, class: "btn btn-secondary", data: { controls: "yearly" } %>
  </div>
  <div class="grid-reports-controls">
    <%= select_tag(:quarter_select,
                   options_for_select(
                       [
                           ['Quarter 1', '1'],
                           ['Quarter 2', '2'],
                           ['Quarter 3', '3'],
                           ['Quarter 4', '4']
                       ], 1
                   ), class: "control hidden", name: "quarter", data: { scope: "quarterly" } ) %>
    <% available_months = BookingServiceLine.all.map { |x| [x.date_of_booking("%B"), x.date_of_booking("%B")] }.uniq { |x| x } %>
    <% available_years = BookingServiceLine.all.map { |x| [x.date_of_booking("%Y"), x.date_of_booking("%Y")] }.uniq { |x| x } %>

    <%= select_tag(:month_select, options_for_select(available_months), class: "control hidden", name: "month", data: { scope: "monthly" } ) %>
    <%= select_tag(:year_select, options_for_select(available_years), class: "control hidden", name: "year", data: { scope: "yearly quarterly monthly" } ) %>
  </div>
  <div class="grid-reports-chart m-md-5">
    <%= column_chart reports_popular_services_json_path, xtitle: "Services", ytitle: "Total" %>
  </div>
</div>
