<div class="grid-layout-reports">
  <div class="grid-reports-selection">
    <%= link_to "Overall", reports_popular_services_path, class: "btn btn-secondary", data: {controls: "" } %>
    <%= link_to "Monthly", reports_popular_services_path, class: "btn btn-secondary", data: { controls: "monthly" } %>
    <%= link_to "Quarterly", reports_popular_services_path, class: "btn btn-secondary", data: { controls: "quarterly"  } %>
    <%= link_to "Yearly", reports_popular_services_path, class: "btn btn-secondary", data: { controls: "yearly" } %>
  </div>
  <div class="grid-reports-controls">
    <%= select_tag(:quarter_select, 
          options_for_select(
            [ 
              ['Quarter 1', '1'],
              ['Quarter 2', '2'],
              ['Quarter 3', '3'],
              ['Quarter 4', '4']
            ], 1
    ), name: "quarter", class: "control hidden", data: { scope: "quarterly" } ) %>
  <% available_months = BookingServiceLine.all.map { |x| [x.date_of_booking("%B"), x.date_of_booking("%B")] }.uniq { |x| x } %>
  <% available_years = BookingServiceLine.all.map { |x| [x.date_of_booking("%Y"), x.date_of_booking("%Y")] }.uniq { |x| x } %>
  
  <%= select_tag(:month_select, options_for_select(available_months), name: "month", class: "control hidden", data: { scope: "monthly" } ) %>
  <%= select_tag(:year_select, options_for_select(available_years), name: "year", class: "control hidden", data: { scope: "yearly monthly quarterly" } ) %>
    
  </div>
  <div class="grid-reports-chart">
    <%= column_chart reports_revenue_by_service_json_path%>
  </div>
</div>

