
<nav class="nav navbar-expand-lg navbar-dark bg-primary justify-content-between">
    <a><%= link_to('TerriG Calendar', root_path, method: :get, class: 'navbar-brand',style: 'margin-left: 20px;', id: 'terri-calendar') %></a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to('Home', root_path, method: :get, class: "nav-link") %>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="reportsDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
          <div class="dropdown-menu" aria-labelledby="reportsDropDown">
            <%= link_to('Customer Report', reports_customer_path, method: :get, class: "dropdown-item") %>
            <%= link_to('Month Birthdays', reports_month_birthdays_path, method: :get, class: "dropdown-item") %>
            <%= link_to('Popular Services', reports_popular_services_path, method: :get, class: "dropdown-item") %>
            <%= link_to('Bookings', reports_bookings_path, method: :get, class: "dropdown-item") %>
            <%= link_to('Revenue', reports_revenue_by_service_path, method: :get, class: "dropdown-item") %>
            <%= link_to('Discounts', reports_booking_per_dt_path, method: :get, class: "dropdown-item") %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to('Customers', customers_path, method: :get, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Employees', employees_path, method: :get, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Bookings', bookings_path, method: :get, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Dashboard', dashboard_path, method: :get, class: "nav-link") %>
        </li>
      </ul>
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="settingsDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="settingsDropDown">
            <%= link_to('Services & Fees', service_fees_path, method: :get, class: "dropdown-item") %>
            <%= link_to('Discounts', discount_types_path, class: "dropdown-item") %>
            <%= link_to('Employee Types', employee_types_path, class: "dropdown-item") %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropDown">
            <%= link_to('Edit Profile', edit_user_registration_path, method: :get, class: "dropdown-item") %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
          </div>
        </li>
      </ul>

    </div>
  </nav>




